* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0f0f0f;
  font-family: sans-serif;
}

.container {
  text-align: center;
  padding: 30px;
  border: 1px solid #333;
  border-radius: 12px;
}

.title {
  color: #aaa;
  margin-bottom: 20px;
  font-size: 20px;
}

p#number {
  color: white;
  font-size: 90px;
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
}

button {
  width: 80px;
  padding: 10px;
  border-radius: 6px;
  background: transparent;
  border: 1px solid white;
  color: white;
  cursor: pointer;
  opacity: 0.6;
  transition: 0.2s;
}

button:hover {
  opacity: 1;
  transform: scale(1.05);
}

#decrease {
  border-color: red;
}

#increase {
  border-color: green;
}

#reset {
  border-color: #aaa;
}
  
